* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* the overflow is used so i can hide the scrol bars that showed */
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 60px;
}
input,
select {
  width: 350px;
  height: 35px;
  padding-inline: 3px;
}
input[type="submit"] {
  background-color: rgba(80, 160, 80, 0.986);
  color: white;
  border: 0.5px solid black;
}
div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20px;
  margin-top: 25px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: orange;
  width: 300px;
  height: 40px;
  font-size: 20px;
  border: 0.2px solid black;
  border-radius: 5px;
}

p {
  /* the probelm is that p is used as an element of the grid so find a solution to center it */
}
